/* video settings */
* {
  color: #cedff8;
  font-family: 'STIX Two Text', sans-serif, Impact, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.thisvideo {
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.mainBg {
  background-image: url(./assets/images/newBG.jpg);
  min-height: 100%;
	min-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
  /* background-color: rgb(184, 221, 253); */
}
/* navbar start */
.navApp {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
/* .navApp :hover {
  color: #2e65b8;
} */

.authorized {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #cedff8;
  font-size: 25px;
  word-spacing: -2px;
  font-family: 'STIX Two Text', sans-serif, Impact, 'Times New Roman', Times, serif;
}

.navContainer {
  display: flex;
  flex-direction: row;
  color: white;
  /* background-image: url("./assets/images/stoneBg.jpg"); */
  background-color: rgba(156, 95, 55, 0.4);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.gtLogo {
  margin: 10px;

}

.colorHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  width: 20%;
  margin-right: 0;
}

.headerLogo {
  margin-top: 0px;
  width: 180px;
  height: 100px;
  opacity: 0.9;
  margin-bottom: 0;
  padding-right: 30px;
}



.navButtonContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  width: 58%;
  text-decoration: none;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #cedff8;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.mccromBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
}

.imgStyle {
  align-self: center;
  width: 100%;
}

.hidden-home {
  text-decoration: none;
  opacity: 0;
  position: absolute;
  /* right: 15px; */
  left: 14em;
}

.colorHeader:hover .hidden-home {
  opacity: 1;
}

.fas {
  font-size: 25px;
}

/* navbar end */

/* contact footer */

.footer {
  width: 100%;
  background-color: rgba(156, 95, 55, 0.4);
  display: flex;
  flex-direction: row;
}

.contactFoot {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.contactUsDiv {
  display: flex;
  width: 33%;
  margin-top: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contactH1 {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.fas {
  text-decoration:none;
  font-size: 3em;
}

.createdBy {
  display: flex;
  font-size: 15px;
  margin: 0;
  margin-right: 15px;
  color: #cedff8;
  align-self: center;
}

.contact-info {
  margin-top: 0;
  padding: 0;
  width: 33%;
  display: flex;
  flex-direction: column;
}
.contact-info ul {
  padding: 0;
  margin-top: 0;
}


/* homepage setup start */

.whatWeDo {
  /* background-image: url("./assets/images/whatWeDo.png"); */
  min-height: 60%;
	min-width: 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  /* border: black solid 2px; */
  border-radius: 15px;
  background-color: rgba(95, 158, 160, 0.5);
  height: 200px;
}

.whatTextContainer {
  display: flex;
  margin: 0px 0 0 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  /* background-color: rgba(80, 80, 80, 0.3); */
}

.whatText {
  display: flex;
  margin: 10px 0 0 15px;
  width: 85%;
  /* font-weight: bold; */
  /* font-size: 20px; */
}

.whatAboutPicContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
}


.whatAboutPic {
  width: 87%;
  align-self: flex-end;
  max-height: 300px;
  margin: 20px;
  border-radius: 15px;
}
/* billboard end */



/* image skill and image skill styles */

.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  /* border: black solid 2px; */
  background-color: rgba(95, 158, 160, 0.1);
  border-radius: 15px;
  margin-left: 5%;
  margin-top: 40px;
}

.img-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 32%;

}

.skillImages {
  width: 80%;
  align-self: center;
  max-height: 300px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 8px 5px 12px #e6e5f1;
}

.skillText {
  width: 80%;
  align-self: center;
  list-style-type: none;
  border-radius: 15px;
  text-align: center;
}

.skillsLink:hover {
  color: #0e0181;
}



/* button styles learn more */

.buttonStyles {
  border: none;
  color: #2e65b8;
  background-color: rgba(95, 158, 160, 0.5);
}

.buttonStyles:hover {
  background-color: #2e65b8;
  color: white
}

/* who we are and what we do start */
.aboutSection {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
.aboutContainer1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  align-content: center;
  /* border: black solid 2px; */
  border-radius: 15px;
  background-color: rgba(95, 158, 160, 0.2);
  margin-bottom: 15px;
}

.aboutPicBox1 {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 10%;
}

.aboutTextContainer1 {
  display: flex;
  margin: 0px 0 0 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
}

.aboutText1 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0;
  font-size: 30px;
  text-decoration: underline;
  color: rgb(211, 211, 211);
  margin-top: 10px;
}

.aboutInfo1 {
  margin: 5px;
  width: 100%;
  flex-wrap: wrap;
  /* font-weight: bold;
  font-size: 20px; */
}

.far {
  font-size: 2em ;
  color:  #2e65b8;
  margin: 5px;
}

.aboutContainer2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  align-content: center;
  /* border: black solid 2px; */
  border-radius: 15px;
  background-color: rgba(95, 158, 160, 0.2);
  margin-bottom: 15px;
}

.aboutPicBox2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.aboutPic2 {
  width: 100%;
  align-self: flex-end;
  max-height: 300px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 8px 5px 12px #e6e5f1;
}

.aboutTextContainer2 {
  display: flex;
  margin: 0px 0 0 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  width: 65%;
}

.aboutText2 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0;
  font-size: 30px;
  text-decoration: underline;
  color: rgb(211, 211, 211);
}

.aboutInfo2 {
  margin: 10px 0 0 15px;
  width: 100%;
  /* font-weight: bold;
  font-size: 20px; */
}


/* homepage end */

/* flowMeter section start */

.flowSection {
  display: flex;
  flex-direction: row;
}

.flowInfoBox {
  align-self: center;
  width: 55%;
  background-color: rgba(95, 158, 160, 0.2);
  border-radius: 15px;
  margin-left: 13%;
  margin-top: 20px;
  margin-right: 15px;
  /* border: 2px solid black; */
  box-shadow: black 5px 5px 15px;
  margin-bottom: 15px;
}

.flowInfo {
  padding: 0;
  display: flex;
  margin-top: 20px;
  align-self: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 90% ;
  height: 100% ;
}

.aboutMeterBox {
  margin-top: 20px;
  background-color: rgba(95, 158, 160, 0.2);
  width: 15%;
  /* border: 2px solid black; */
  margin-left: 2%;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: black 5px 5px 15px;
  margin-bottom: 15px;
}

.aboutMeters {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.aboutMeters:hover {
  text-decoration: underline;
  color: #2e65b8;
}

.buttonControl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.download {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  color: #2e65b8;
  border: none;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 20px;
  
}

.download:hover {
  color: white;
  background-color: #2e65b8;
  
}

.fa-file-download {
  font-size: 1.5em ;
  color:  black;
  margin: 5px;
}

.fa-file-download:hover {
  background-color: #2e65b8;
  color: white;
}

.click {
  font-size: 10px;
  
}

.pagec {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fa-arrow-left {
  font-size: 10px;
}

.Pre {
  background-color: #2e65b8;
  margin-left: 3px;
  margin-bottom: 5px;
}

.Pre:hover {
  background-color: #cedff8;
}
.next {
  background-color: #2e65b8;
  width: 85px;
  margin-left: 3px;
  margin-bottom: 5px;
}

.next:hover {
  background-color: #cedff8;
}

.imageContainer {
  align-self: center;
  width: 26%;
  background-color: rgba(95, 158, 160, 0.2);
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 20px;
  /* border: 2px solid black; */
  box-shadow: black 5px 5px 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.imgBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.meterFlowSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.aboutPic3 {
  width: 95%;
  margin: 10px;
  border-radius: 15px;
}
/* pipe images start */

.left-arrow,
.mid-left-arrow,
.right-arrow,
.mid-right-arrow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  /* margin-right: 15px; */
}

.pipe-container,
.wire-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pipe-img,
.wire-img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin: 25px;
  transition: ease 2000ms
}

.slide,
.newSlide {
  display: flex;
  opacity: 0;
  transition-duration: 1s ease;
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide.active,
.newSlide.reactive {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
  /* transform: scale(1.03); */
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.newContainer {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction:row;
}

.center {
  display: flex;
  justify-content: center;
  color: #cedff8;
  background-color: rgba(95, 158, 160, 0.2);
}

/* imported css for slideshow */
.slideshowDots {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.slideshowDot {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: rgba(95, 158, 160, 0.4);
}

.slideshowDot.active {
  background-color: rgba(192, 209, 209, 1);
}

/* media query 1100 */

@media only screen and (max-width: 1100px){

  .mainBg {
    background-image: url(./assets/images/newBG.jpg);
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }

  .whatText {
    display: flex;
    margin: 10px 0 0 15px;
    width: 85%;
    /* font-weight: normal; */
    font-size: 20px;
    max-height: 95%;
    overflow: scroll;
  }

  .flowSection {
    display: flex;
    flex-direction: column;
  }
  
  .aboutMeterBox {
    margin: 0;
    margin-top: 20px;
    align-self: center;
    width: 90%;
    border-radius: 15px;
    box-shadow: black 5px 5px 15px;
    margin-bottom: 5px;
  }
  
  .meterFlowSection {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .meterSelection {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .download {
    padding: 0;
    width: 70%;
  }
  
  .flowInfoBox {
    width: 90%;
  }
  
  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 90% ;
    height: 100% ;
    border-radius: 15px;
  }
  
  .imageContainer {
    margin: 0;
    width: 90%;
  }
  
  .aboutPic3 {
    width: 95%;
    margin: 10px;
    border-radius: 15px;
  }


}

/* media query 600 */

@media only screen and (max-width: 600px) {
  .mainBg {
    background-image: url(./assets/images/newBG.jpg);
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .whatText {
    display: flex;
    margin: 10px 0 0 15px;
    width: 85%;
    font-weight: bold;
    font-size: 20px;
    max-height: 95%;
    overflow: scroll;
  }

  .skillsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 89%;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 40px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutSection {
  width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.aboutContainer1 {
width: 89%;
margin-bottom: 15px;
}

.aboutContainer2 {
  flex-direction: column;
  width: 89%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutPicBox2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}
  
.aboutPic2 {
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 8px 5px 12px black;
}

.aboutInfo2 {
  margin: 0;
  margin-top: 10px;
}

/* navbar */
.colorHeader {
  font-size: 15px;
  margin: 0;
  margin-left: 20px;
  padding-left: 15px;
  width: 25%;
}

.navButtonContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
}

.gtLogo {
  width: 100%;
}

.navApp {
  font-size: 15px;
}

.mccromBox {
  width: 35%;
}

/* flowmeters */

.flowSection {
  display: flex;
  flex-direction: column;
}

.aboutMeterBox {
  margin: 0;
  margin-top: 20px;
  align-self: center;
  width: 80%;
  border-radius: 15px;
  box-shadow: black 5px 5px 15px;
  margin-bottom: 5px;
}

.aboutPic3 {
  width: 60%;
}

.meterFlowSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.meters {
  margin: 5px;
  font-size: 15px;
  width: 30%;
  font-weight: normal;
}

.download {
  padding: 0;
  width: 70%;
  margin-left: 60px;
}

.flowInfoBox {
  width: 80%;
  margin-left: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 90% ;
  height: 100% ;
  border-radius: 15px;
}

.imageContainer {
  margin: 0;
  width: 90%;
}

}