/* video settings */
.thisvideo {
  display: flex!important;
  border-radius: 15px!important;
  align-items: center;
  justify-content: center;
  margin-top: 25px!important;
}

.mainBg {
  background-image: url(./assets/images/mountBG.jpg);
  min-height: 100%;
	min-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
  font-family: 'STIX Two Text', sans-serif, Impact, 'Times New Roman', Times, serif;
  /* background-color: rgb(184, 221, 253); */
}
/* navbar start */
.navApp {
  list-style: none!important;
  text-decoration: none!important;
  color: white!important;
  font-size: 25px!important;
}
.navApp :hover {
  color: #2e65b8!important;
}

.authorized {
  margin: 0!important;
  padding: 0!important;
  text-align: center!important;
  color: #cedff8!important;
  font-size: 25px;
  word-spacing: -2px!important;
  font-family: 'STIX Two Text', sans-serif, Impact, 'Times New Roman', Times, serif;
}

.navContainer {
  display: flex!important;
  flex-direction: row!important;
  color: white!important;
  /* background-image: url("./assets/images/stoneBg.jpg")!important; */
  background-color: rgba(156, 95, 55, 0.6)!important;
  opacity: 1;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  width: 100%!important;
}

.gtLogo {
  margin: 10px!important;

}

.colorHeader {
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  align-self: center!important;
  justify-content: center!important;
  flex-wrap: wrap!important;
  text-decoration: none!important;
  width: 20%!important;
  margin-right: 0!important;
}

.headerLogo {
  margin-top: 0px!important;
  width: 180px!important;
  height: 100px!important;
  opacity: 0.9;
  margin-bottom: 0!important;
  padding-right: 30px!important;
}

.headerLogo:hover + #home {
  opacity: 0.9!important;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.navButtonContainer {
  margin: 0!important;
  padding: 0!important;
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  align-self: center!important;
  align-items: center!important;
  justify-content: space-evenly!important;
  width: 52%!important;
  text-decoration: none!important;
}

.mccromBox {
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  width: 25%!important;
}

.imgStyle {
  align-self: center!important;
  width: 100%!important;
  box-shadow: #2e65b8 35px 15px 25px!important;
}

.hidden-home {
  text-decoration: none!important;
  opacity: 0!important;
  position: absolute;
  /* right: 15px!important; */
  left: 14em!important;
}

.colorHeader:hover .hidden-home {
  opacity: 1!important;
}

.fas {
  font-size: 25px!important;
}

/* navbar end */

/* contact footer */

.footer {
  background-color: rgba(156, 95, 55, 0.6)!important;
  display: flex!important;
  flex-direction: column!important;
}

.contactFoot {
  /* width: 50%!important; */
  display: flex!important;
  flex-direction: row!important;
  align-content: center!important;
  justify-content: center!important;
  align-items: center!important;
  align-self: center!important;
}

.contactUsDiv {
  display: flex;
  /* width: 50%!important; */
  margin-top: 0!important;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contactH1 {
  margin-top: 5px!important;
  color: w!important;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 15px!important;
    margin-right: 15px!important;
}

.fas {
  text-decoration:none!important;
  font-size: 3em;
}

.createdBy {
  display: flex!important;
  font-size: 15px!important;
  margin: 0!important;
  margin-right: 15px!important;
  color: #cedff8;
  align-self: center!important;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.hvr-back-pulse {
  border-radius: 15px!important;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: cadetblue;
  background-color: cadetblue;
  color: white;
}


/* homepage setup start */

.whatWeDo {
  /* background-image: url("./assets/images/whatWeDo.png"); */
  min-height: 60%!important;
	min-width: 60%!important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  margin-top: 40px!important;
  display: flex!important;
  flex-direction: row!important;
  width: 90%!important;
  margin-left: 5%!important;
  /* border: black solid 2px; */
  border-radius: 15px!important;
  background-color: rgba(95, 158, 160, 0.4)!important;
  height: 200px!important;
}

.whatTextContainer {
  display: flex!important;
  margin: 0px 0 0 15px!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  align-items: center!important;
  align-content: center!important;
  justify-content: center!important;
  width: 100%!important;
  /* background-color: rgba(80, 80, 80, 0.3); */
}

.whatText {
  display: flex!important;
  margin: 10px 0 0 15px!important;
  width: 85%!important;
  /* font-weight: bold; */
  /* font-size: 20px; */
}

.whatAboutPicContainer {
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  width: 30%!important;
}


.whatAboutPic {
  width: 87%!important;
  align-self: flex-end!important;
  max-height: 300px!important;
  margin: 20px!important;
  border-radius: 15px;
}
/* billboard end */



/* image skill and image skill styles */

.skillsContainer {
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  width: 90%!important;
  /* border: black solid 2px!important; */
  background-color: rgba(95, 158, 160, 0.4)!important;
  border-radius: 15px!important;
  margin-left: 5%!important;
  margin-top: 40px!important;
}

.img-container {
  display: flex!important;
  flex-direction: column!important;
  flex-wrap: wrap!important;
  width: 32%!important;

}

.skillImages {
  width: 80%!important;
  align-self: center!important;
  max-height: 300px!important;
  margin: 20px!important;
  border-radius: 15px;
  box-shadow: 8px 5px 12px black;
}

.skillText {
  width: 60%;
  align-self: center!important;
}

/* button styles learn more */

.buttonStyles {
  border: none!important;
  color: #2e65b8!important;
  background-color: rgba(95, 158, 160, 0)!important;
}

.buttonStyles:hover {
  background-color: #2e65b8!important;
  color: white!important
}

/* who we are and what we do start */
.aboutSection {
  width: 100%!important;
  display: flex;
  margin-top: 40px!important;
  justify-content: space-around;
}
.aboutContainer1 {
  display: flex!important;
  flex-direction: column!important;
  flex-wrap: wrap;
  width: 40%!important;
  align-content: center!important;
  /* border: black solid 2px; */
  border-radius: 15px;
  background-color: rgba(95, 158, 160, 0.4)!important;
  margin-bottom: 15px!important;
}

.aboutPicBox1 {
  display: flex!important;
  align-self: flex-start;
  flex-wrap: wrap!important;
  width: 10%!important;
}

.aboutTextContainer1 {
  display: flex!important;
  margin: 0px 0 0 15px!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  align-items: center!important;
  align-content: flex-start!important;
  justify-content: center!important;
  width: 100%!important;
}

.aboutText1 {
  display: flex!important;
  justify-content: center!important;
  align-content: center!important;
  width: 100%!important;
  margin: 0!important;
  font-size: 30px!important;
  text-decoration: underline!important;
  color: rgb(211, 211, 211)!important;
  margin-top: 10px!important;
}

.aboutInfo1 {
  margin: 5px!important;
  width: 100%!important;
  flex-wrap: wrap;
  /* font-weight: bold;
  font-size: 20px; */
}

.far {
  font-size: 2em !important;
  color:  #2e65b8!important;
  margin: 5px!important;
}

.aboutContainer2 {
  display: flex!important;
  flex-direction: column!important;
  flex-wrap: wrap;
  width: 40%!important;
  align-content: center!important;
  /* border: black solid 2px; */
  border-radius: 15px;
  background-color: rgba(95, 158, 160, 0.4)!important;
  margin-bottom: 15px!important;
}

.aboutPicBox2 {
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  width: 60%!important;
}

.aboutPic2 {
  width: 100%!important;
  align-self: flex-end!important;
  max-height: 300px!important;
  margin: 20px!important;
  border-radius: 15px!important;
  box-shadow: 8px 5px 12px black;
}

.aboutTextContainer2 {
  display: flex!important;
  margin: 0px 0 0 15px!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  align-items: center!important;
  align-content: flex-start!important;
  justify-content: center!important;
  width: 65%!important;
}

.aboutText2 {
  display: flex!important;
  justify-content: center!important;
  align-content: center!important;
  width: 100%!important;
  margin: 0!important;
  font-size: 30px!important;
  text-decoration: underline!important;
  color: rgb(211, 211, 211)!important;
}

.aboutInfo2 {
  margin: 10px 0 0 15px!important;
  width: 100%!important;
  /* font-weight: bold;
  font-size: 20px; */
}


/* homepage end */

/* flowMeter section start */

.flowSection {
  display: flex!important;
  flex-direction: row!important;
}

.flowInfoBox {
  align-self: center!important;
  width: 55%!important;
  background-color: rgba(95, 158, 160, 0.4)!important;
  border-radius: 15px!important;
  margin-left: 13%!important;
  margin-top: 20px!important;
  margin-right: 15px!important;
  /* border: 2px solid black!important; */
  box-shadow: black 5px 5px 15px;
  margin-bottom: 15px!important;
}

.flowInfo {
  padding: 0!important;
  display: flex!important;
  margin-top: 20px!important;
  align-self: center!important;
  width: 100%!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  align-content: center!important;
  justify-content: center!important;
  align-items: center!important;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 90% !important;
  height: 100% !important;
}

.aboutMeterBox {
  margin-top: 20px!important;
  background-color: rgba(95, 158, 160, 0.4)!important;
  width: 15%!important;
  /* border: 2px solid black!important; */
  margin-left: 2%!important;
  margin-right: 15px!important;
  border-radius: 15px!important;
  box-shadow: black 5px 5px 15px;
  margin-bottom: 15px!important;
}

.aboutMeters {
  display: flex!important;
  text-decoration: none!important;
  color: white!important;
  font-size: 25px!important;
  flex-wrap: wrap!important;
  align-content: center!important;
  justify-content: center!important;
  align-items: center!important;
}

.aboutMeters:hover {
  text-decoration: underline!important;
  color: #2e65b8!important;
}

.buttonControl {
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  align-content: center!important;
  justify-content: center!important;
  align-items: center!important;
}

.download {
  display:flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  align-content: center!important;
  justify-content: center!important;
  align-items: center!important;
  text-decoration: none!important;
  margin-top: 10px!important;
  color: #2e65b8!important;
  border: none!important;
  border-radius: 5px!important;
  margin-top: 0!important;
  margin-bottom: 20px!important;
  
}

.download:hover {
  color: white!important;
  background-color: #2e65b8;
  
}

.fa-file-download {
  font-size: 1.5em !important;
  color:  black!important;
  margin: 5px!important;
}

.fa-file-download:hover {
  background-color: #2e65b8!important;
  color: white!important;
}

.click {
  font-size: 10px!important;
  
}

.pagec {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fa-arrow-left {
  font-size: 10px!important;
}

.Pre {
  background-color: #2e65b8!important;
  margin-left: 3px!important;
  margin-bottom: 5px!important;
}

.Pre:hover {
  background-color: #cedff8!important;
}
.next {
  background-color: #2e65b8!important;
  width: 85px;
  margin-left: 3px!important;
  margin-bottom: 5px!important;
}

.next:hover {
  background-color: #cedff8!important;
}

.imageContainer {
  align-self: center!important;
  width: 26%!important;
  background-color: rgba(95, 158, 160, 0.4)!important;
  border-radius: 15px!important;
  margin-left: 20px!important;
  margin-top: 20px!important;
  /* border: 2px solid black!important; */
  box-shadow: black 5px 5px 15px;
  margin-bottom: 15px!important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.imgBox {
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  width: 100%!important;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.meterFlowSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.aboutPic3 {
  width: 95%!important;
  margin: 10px!important;
  border-radius: 15px;
}
/* pipe images start */

.left-arrow,
.mid-left-arrow,
.right-arrow,
.mid-right-arrow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  /* margin-right: 15px; */
}

.right-arrow,
.mid-right-arrow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  /* margin-left: 15px; */
}

.pipe-container,
.wire-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pipe-img,
.wire-img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin: 25px!important;
}

.slide,
.newSlide {
  display: flex;
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active,
.newSlide.reactive {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.03);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.newContainer {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction:row;
}

.center {
  display: flex;
  justify-content: center;
  color: #cedff8;
  background-color: rgba(95, 158, 160, 0.4)!important;
}

/* media query 1100 */

@media only screen and (max-width: 1100px){

  .mainBg {
    background-image: url(./assets/images/mountBG.jpg);
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden!important;
  }

  .whatText {
    display: flex!important;
    margin: 10px 0 0 15px!important;
    width: 85%!important;
    /* font-weight: normal!important; */
    font-size: 20px;
    max-height: 95%;
    overflow: scroll;
  }

  .flowSection {
    display: flex!important;
    flex-direction: column!important;
  }
  
  .aboutMeterBox {
    margin: 0!important;
    margin-top: 20px!important;
    align-self: center!important;
    width: 90%!important;
    border-radius: 15px!important;
    box-shadow: black 5px 5px 15px;
    margin-bottom: 5px!important;
  }
  
  .meterFlowSection {
    display: inline-flex!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    align-content: center!important;
    justify-content: center!important;
    align-items: center!important;
  }
  
  .meterSelection {
    display: inline-flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .download {
    padding: 0!important;
    width: 70%;
  }
  
  .flowInfoBox {
    width: 90%!important;
  }
  
  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 90% !important;
    height: 100% !important;
    border-radius: 15px!important;
  }
  
  .imageContainer {
    margin: 0!important;
    width: 90%!important;
  }
  
  .aboutPic3 {
    width: 95%!important;
    margin: 10px!important;
    border-radius: 15px;
  }


}

/* media query 600 */

@media only screen and (max-width: 600px) {
  .mainBg {
    background-image: url(./assets/images/mountBG.jpg);
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .whatText {
    display: flex!important;
    margin: 10px 0 0 15px!important;
    width: 85%!important;
    font-weight: bold;
    font-size: 20px;
    max-height: 95%;
    overflow: scroll;
  }

  .skillsContainer{
    display: flex!important;
    flex-direction: column!important;
    flex-wrap: wrap!important;
    width: 89%!important;
    border-radius: 15px!important;
    margin-left: 5%!important;
    margin-top: 40px!important;
    align-content: center!important;
    justify-content: center!important;
    align-items: center!important;
  }

  .img-container {
    display: flex!important;
    flex-direction: column!important;
    width: 100%!important;
}

.aboutSection {
  width: 100%!important;
    display: flex!important;
    margin-top: 40px!important;
    justify-content: center!important;
    flex-direction: column!important;
    align-content: center!important;
    align-items: center!important;
}

.aboutContainer1 {
width: 89%!important;
margin-bottom: 15px!important;
}

.aboutContainer2 {
  flex-direction: column!important;
  width: 89%!important;
  margin-top: 15px!important;
  margin-bottom: 15px!important;
}

.aboutPicBox2 {
  display: flex!important;
  flex-direction: column!important;
  flex-wrap: wrap!important;
  width: 100%!important;
  margin: 0!important;
}
  
.aboutPic2 {
  width: 100%!important;
  margin: 0px!important;
  margin-top: 10px!important;
  border-radius: 15px!important;
  box-shadow: 8px 5px 12px black;
}

.aboutInfo2 {
  margin: 0!important;
  margin-top: 10px!important;
}

/* navbar */
.colorHeader {
  font-size: 15px!important;
  margin: 0!important;
  margin-left: 20px!important;
  padding-left: 15px!important;
  width: 25%!important;
}

.navButtonContainer {
  width: 35%!important;
  display: flex!important;
  flex-direction: column!important;
  margin: 0!important;
  padding-left: 10px!important;
}

.gtLogo {
  width: 100%!important;
}

.navApp {
  font-size: 15px!important;
}

.mccromBox {
  width: 35%!important;
}

/* flowmeters */

.flowSection {
  display: flex!important;
  flex-direction: column!important;
}

.aboutMeterBox {
  margin: 0!important;
  margin-top: 20px!important;
  align-self: center!important;
  width: 80%!important;
  border-radius: 15px!important;
  box-shadow: black 5px 5px 15px;
  margin-bottom: 5px!important;
}

.aboutPic3 {
  width: 60%!important;
}

.meterFlowSection {
  display: flex;
  flex-direction: row!important;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.meters {
  margin: 5px!important;
  font-size: 15px!important;
  width: 30%!important;
  font-weight: normal!important;
}

.download {
  padding: 0!important;
  width: 70%;
  margin-left: 60px!important;
}

.flowInfoBox {
  width: 80%!important;
  margin-left: 20px!important;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 90% !important;
  height: 100% !important;
  border-radius: 15px!important;
}

.imageContainer {
  margin: 0!important;
  width: 90%!important;
}

}